.footer{
    background-color: grey;
    padding: 10rem 0;
    font-size: 1.4rem;
    position: relative;

    &__logo-text{
        font-family: 'Libre Barcode 39 Text', cursive;
        position: absolute;
        font-size: 4rem;
        top: 3rem;
        left: 50%;
        transform: translate(-50%,-50%);
        color: white;
    }

    &__navigation{
        border-top: 1px solid rgb(160, 160, 160);
        padding-top: 2rem;
        display: inline-block;
        @include respond(tab-port){
            width: 85%;
            margin-bottom: 1rem;
        }
    }
    &__list{
        list-style: none;
    }
    &__item{
        display: inline-block;

        &:not(:last-child){
            margin-right: 1.5rem;
        }
    }
    &__link{
        &:link,
        &:visited{
            text-decoration: none;
            color: aliceblue;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }

        &:hover,
        &:active{
            color: azure;
            box-shadow: 0 1rem 2rem rgba(black, .4);
            transform: rotate(10deg);
        }
    }
    &__copyright{

        display: block;
        color: rgb(183, 183, 183);
        text-align: left;
        padding-top: 2rem;  
        width: inherit;

        @include respond(tab-port){
            text-align: left;
            width: inherit;
            width: 70%;
            margin-left: 4rem;
        }
    }
}