.navigation{
    
    &__checkbox {
        display: none;
    }
    &__button {
        background-color: #ffffff;
        height: 7rem;
        width: 7rem;
        position: fixed;
        border-radius: 50%;
        top: 2rem;
        right: 6rem;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba(#000000, .1);
        text-align: center;
        cursor: pointer;

        @include respond(phone){
            right: 3rem;
        }
    }
    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 2.5rem;
        right: 6.5rem;
        background-image: linear-gradient(rgb(130, 130, 130),#000);
        z-index: 1000;
        transition: transform .7s cubic-bezier(0.86, 0, 0.07, 1);
       // transform: scale(80);

       @include respond(phone){
            right: 3.5rem;
       }
    }

    &__nav {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1500;
        display: none;
        transition: display 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        display: block;
    }
    &__item {
        margin: 1rem;
    }
    &__link {
        &:link,
        &:visited {
            font-size: 3rem;
            font-weight: 300;
            color: #ffffff;
            display: inline-block;
            padding: 1rem 2rem;
            text-transform: uppercase;
            text-decoration: none;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ffffff 50%);
            background-size: 220%;
            transition: all .5s;

            @include respond(phone){
                font-size: 1.5rem;
            }
        }
        &:hover,
        &:active{
            background-position: 100%;
            color: black;
            transform: translateX(-1rem);
        }
    }
    
    &__checkbox:checked ~ &__background {
        transform: scale(80);

    }

    &__checkbox:checked ~ &__nav {
        display: block;
    }

    //icon
    &__icon{
        margin-top: 3.5rem;
        position: relative;
        &,
        &::after,
        &::before{
            width: 3rem;
            height: 3px;
            background-color: #000000;
            display: inline-block;
            
        }
        &::after,
        &::before{
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::after{ top: .8rem;}
        &::before{ top: -.8rem;}

    }

    &__button:hover &__icon::after {
        top: 1rem;
    }
    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }
    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }
    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }

}