.u-right-text {
    text-align: right;
}

.u-left-text {
    text-align: left;
}

.u-center-text {
    text-align: center;
}


.u-margin-bottom-big {
    margin-bottom: 8rem;
}

.u-margin-bottom-medium {
    margin-bottom: 6rem;
}
.u-margin-bottom-small {
    margin-bottom: 2rem;
}

.u-margin-left-medium {
    margin-left: 3rem;
}

.u-padding-top-small{
    padding-top: 2rem
}

.u-padding-bottom-small{
    padding-bottom: 2rem;
}
